page-welcome-no-user {

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.first-animation {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.second-animation {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.third-animation {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


}
