<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h2>Dados de Cadastro</h2>
    </ion-title>

  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-slides #attendanceSlider>
    <ion-slide>
      <h3>Vamos iniciar com seu dados pessoais.</h3>
      <form [formGroup]="slideOneForm" *ngFor="let item of cadastre">
        <ion-item>
          <ion-label stacked>Nome:</ion-label>
          <ion-input formControlName="name" value="{{item.name}}" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>CPF:</ion-label>
          <ion-input formControlName="cpf" name="cpf" value="{{item.cpf}}" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Genero:</ion-label>
          <ion-select color="primary" [(ngModel)]="item.gender_id" formControlName="gender_id" placeholder="Escolha o genero" name="gender_id">
            <ion-option selected *ngFor="let g of this.gender" value="{{g.id}}">{{g.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Nome da Mãe:</ion-label>
          <ion-input formControlName="mother_name" name="mother_name" value="{{item.mother_name}}" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Nome do Pai:</ion-label>
          <ion-input formControlName="father_name" name="father_name" value="{{item.father_name}}"></ion-input>
        </ion-item>
      </form>
      <button ion-button full color="primary" (click)="next()">Próximo</button>
    </ion-slide>

    <!-- <ion-slide>
    <h3>Fotinha aqui</h3> 
      <ion-item>
        <p>{{imageURI}}</p>
        <button ion-button color="secondary" (click)="getImage()">Get Image</button>
      </ion-item>
      <ion-item>
        <h4>Preview</h4>
        <img src="{{imageURI}}" *ngIf="imageURI" alt="Ionic File" width="300" />
      </ion-item>
      <ion-item>
        <button ion-button (click)="uploadFile()">Upload</button>
      </ion-item>
    </ion-slide> -->

    <ion-slide>
      <h3>Agora vamos falar um pouco de onde nasceu</h3>
      <form [formGroup]="slideOneForm" *ngFor="let item of cadastre">
        <ion-item>
          <ion-label stacked>Nacionalidade:</ion-label>
          <ion-input formControlName="nationality" name="nationality" value="{{item.nationality}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Nascimento:</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="born" [(ngModel)]="startDateBorn" name="born"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked>Estado de Nascimento:</ion-label>
          <ion-select color="primary" formControlName="born_uf_id" multiple="false" [(ngModel)]="item.born_uf_id" placeholder="Escolha o UF" name="born_uf_id">
            <ion-option *ngFor="let state of this.states" value="{{state.id}}">{{state.acronym}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Cidade de Nascimento:</ion-label>
          <ion-input formControlName="place_birth" name="place_birth" value="{{item.place_birth}}"></ion-input>
        </ion-item>
      </form>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="prev()">Anterior</button>
          </ion-col>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="next()">Próximo</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <h3>Para prosseguir informe qual seu estado civil?</h3>
      <form [formGroup]="slideOneForm" *ngFor="let item of cadastre">
        <ion-item>
          <ion-label stacked>Estado Civil</ion-label>
          <ion-select color="primary" formControlName="civil_state_id" multiple="false" [(ngModel)]="item.civil_state_id" placeholder="Estado Civil" name="civil_state_id"
            (ionChange)="civilCheck(item.civil_state_id)">
            <ion-option *ngFor="let civil of this.civilStates" value="{{civil.id}}">{{civil.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="weddingCheck">
          <ion-label stacked>Regime de Casamento</ion-label>
          <ion-input name="wedding_regime" formControlName="wedding_regime" value="{{item.wedding_regime}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="weddingCheck">
          <ion-label stacked>Data do Casamento</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="wedding_date" [(ngModel)]="startDateWedding" name="wedding_date"></ion-datetime>
        </ion-item>
      </form>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="prev()">Anterior</button>
          </ion-col>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="next()">Próximo</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <h3>Vamos verificar as documentações pessoais?</h3>
      <form [formGroup]="slideOneForm" *ngFor="let item of cadastre">
        <ion-item>
          <ion-label stacked>RG:</ion-label>
          <ion-input formControlName="rg" name="rg" value="{{item.rg}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>RG-ORG:</ion-label>
          <ion-input formControlName="rg_org" name="rg_org" value="{{item.rg_org}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>RG-UF:</ion-label>
          <ion-select formControlName="rg_uf_id" color="primary" multiple="false" [(ngModel)]="item.rg_uf_id" placeholder="Escolha o UF" name="rg_uf_id">
            <ion-option *ngFor="let state of this.states" value="{{state.id}}">{{state.acronym}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>NIS</ion-label>
          <ion-input name="nis" formControlName="nis" value="{{item.nis}}"></ion-input>
        </ion-item>
      </form>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="prev()">Anterior</button>
          </ion-col>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="next()">Próximo</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <h3>Qual a data da sua chegada ao Distrito Federal?</h3>
      <form [formGroup]="slideOneForm" *ngFor="let item of cadastre">
        <ion-item>
          <ion-label stacked>Chegada no DF</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="arrival_df" [(ngModel)]="startDateArrival" name="arrival_df"></ion-datetime>
        </ion-item>
      </form>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="prev()">Anterior</button>
          </ion-col>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="next()">Próximo</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <h3>Você possui algum tipo de deficiência comprovada e/ou precisa de adaptação em sua residência?</h3>
      <form [formGroup]="slideOneForm" *ngFor="let item of cadastre">
        <ion-item>
          <ion-label stacked>Condição Especial?</ion-label>
          <ion-select color="primary" formControlName="special_condition" [(ngModel)]="item.special_condition" placeholder="Condição Especial"
            name="special_condition" (ionChange)="specialConditionCheck(item.special_condition)">
            <ion-option value="true">Sim</ion-option>
            <ion-option value="false">Não</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="specialConditionCheck">
          <ion-label stacked>Tipo de Condição Especial</ion-label>
          <ion-select color="primary" formControlName="special_condition_type_id" placeholder="Condição Especial"[(ngModel)]="item.special_condition_type_id" name="special_condition_type_id">
            <ion-option *ngFor="let spec of this.special" value="{{spec.id}}">{{spec.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="specialConditionCheck">
          <ion-label stacked>Propriedade Adaptada?</ion-label>
          <ion-select color="primary" [(ngModel)]="item.adapted_property" multiple="false" formControlName="adapted_property" placeholder="Propriedade Adaptada"
            name="adapted_property">
            <ion-option value="true">Sim</ion-option>
            <ion-option value="false">Não</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="specialConditionCheck">
          <ion-label stacked>CID</ion-label>
          <ion-input name="cid" formControlName="cid" value="{{item.cid}}"></ion-input>
        </ion-item>
      </form>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="prev()">Anterior</button>
          </ion-col>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="next()">Próximo</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <h3>Informe pra gente sua situação profissional e preenchas as informações...</h3>
      <form [formGroup]="slideOneForm" *ngFor="let item of cadastre">
        <ion-item>
          <ion-label stacked>Trabalha?</ion-label>
          <ion-select color="primary" formControlName="employment"multiple="false" [(ngModel)]="item.employment" placeholder="Trabalha?" name="employment"
            (ionChange)="employmentCheck(item.employment)">
            <ion-option value="true">Sim</ion-option>
            <ion-option value="false">Não</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="employ">
          <ion-label stacked>CEP do Trabalho</ion-label>
          <ion-input formControlName="work_cep" name="work_cep" value="{{item.work_cep}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="employ">
          <ion-label stacked>Estado onde Trabalha</ion-label>
          <ion-select color="primary" formControlName="work_state_id" multiple="false" [(ngModel)]="item.work_state_id" placeholder="Escolha o UF" name="work_state_id">
            <ion-option *ngFor="let state of this.states" value="{{state.id}}">{{state.acronym}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="employ">
          <ion-label stacked>Cidade onde Trabalha</ion-label>
          <ion-input formControlName="work_city" name="work_city" value="{{item.work_city}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="employ">
          <ion-label stacked>Endereço do Trabalho</ion-label>
          <ion-input name="work_address" formControlName="work_address" value="{{item.work_address}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="employ">
          <ion-label stacked>Data de Admissão</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="admission_date" [(ngModel)]="startDateAdmission" name="admission_date"></ion-datetime>
        </ion-item>
      </form>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="prev()">Anterior</button>
          </ion-col>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="next()">Próximo</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <img class="checkimg" src="assets/images/animat-checkmark-color.gif" />
      <h3>
        Quase lá 
        <b>
          {{user_name}},
        </b>
      </h3>
      <p>
        Você inseriu todos os dados relevantes, agora para concluir clique em salvar.
      </p>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="prev()">Anterior</button>
          </ion-col>
          <ion-col style="text-align: center">
            <button ion-button full color="primary" (click)="save()">Salvar</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
