<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h2>
        Dependentes
      </h2>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngFor="let candidate of profile_user">
    <ng-container *ngIf="candidate.dependents.length > 0; else elseTemplate">
      <ion-list *ngFor="let dependent of candidate.dependents">
        <ion-item-divider>{{dependent.name}}</ion-item-divider>
        <ion-item>
          <b>CPF: </b>{{dependent.cpf}}</ion-item>
        <ion-item>
          <b>RG: </b>{{dependent.rg}}</ion-item>
        <ion-item>
          <b>Nascimento: </b>{{dependent.born}}</ion-item>
        <ion-item>
          <b>Sexo: </b>{{dependent.gender}}</ion-item>
      </ion-list>
    </ng-container>
      <ng-template #elseTemplate>
        <ion-list>
          <ion-item-divider>Nenhuma ocorrência encontrada</ion-item-divider>
        </ion-list>
      </ng-template>
  </div>
</ion-content>
