<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h2>Dependentes</h2>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class='text-center' padding>
    <h4 class='text-center second-animation'>
      <p *ngIf="this.dependents_new">Então
        <b>{{user_name}}</b>, você não possui nenhum dependente. Está correto? Se sim, clique em Finalizar.</p>
      <p *ngIf="!this.dependents_new">Então
        <b>{{user_name}}</b>, esses são seus dependentes na CODHAB. Fique à vontade para verificar tudo. Se tiver tudo ok clique
        em Finalizar. </p>
      <p>Caso queira adicionar um dependente clique em Adicionar Dependente</p>
    </h4>
  </div>
  <ion-card *ngFor="let item of dependents" padding >
    <ion-icon name="ios-contacts-outline" item-start></ion-icon>
    <b>Nome: {{item.name}}</b>
    <small>Parentesco: {{item.kinship_name}}</small>
    <small>CPF: {{item.cpf}}</small>
    <button ion-button small color="primary" (click)="showDependent(item.id)">Detalhes</button>
    <button ion-button small color="success" (click)="editDependent(item.id)">Editar</button>
    <button *ngIf="item.kinship_id !== 6" ion-button small color="danger" (click)="presentAlert(item.id)">Apagar</button>
  </ion-card>
  <div class="text-center">
    <button ion-button full color="primary" (click)="addDependent(attendance_id)">Adicionar Dependente</button>
    <button ion-button full color="primary" (click)="goToAttendance()">Finalizar</button>
  </div>
</ion-content>
